body {
    
    text-align: center;
    background-color: white;
}

h1 {
    font-family: Helvetica;
    font-size: 70px;
    font-weight: bold;
    color:white;
}
ul {
    
    list-style: none;
    
}

li {
    text-align: center;
    font-size: 18px;
    color: white;
        text-decoration: underline #fff;
        line-height: 35px;
        font-family: Helvetica;
    margin-right:50px;
    
        
}

#headnav {
    
    background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
    
}



h2 {
    
    font-family: Helvetica;
    font-size:32px;
    font-weight: bold;
    
}

h3 {
    
    font-family: Helvetica;
    font-size: 23px;
    font-weight: bold;
}
p {
    
    font-family: Helvetica;
    font-size: 14px;
    
}

#descont {
    
    background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
}

#designed {
    
    font-family: Helvetica;
    font-size: 23px;
    font-weight: bold;
    color: white;
}

#footer {
    background-color: #696969;
    text-align: left;
    
}

#footmenu li {
    
    display: inline;
}

#copy {
    
    font-family: Helvetica;
    font-size: 11px;
    color:white;
    text-decoration: none;
}
