* {
   
  margin: 0;
  padding: 0;
  -webkit-backface-visibility: hidden;
}

/*WRAPPER*/
.wrapper {
  position: relative;
  margin: 20px auto;
  width: 550px;
}


/*MAIN CIRCLE*/
.circle {
  position: relative;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 25px;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: #fff;
 
   box-shadow: inset 0px 0px 30px rgba(0,0,0,0.3);
 
}

/*LITTLE CIRCLES*/
.circle li {
    
  position: absolute;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  list-style: none;
  text-align: center;
  background: black;
  color: #fff;
  box-shadow: inset 1px 1px 30px #c6c6c6;
}

.circle li:hover, .circle li.hover {
     
    transition: all 0.25s ease-in-out 0s;
    background: white;
    color: #000;
     box-shadow: inset 0px 0px 30px rgba(0,0,0,0.3);
     
     
}
.circle li:nth-child(1) {
  top: 10px;
  left: 185px;
 font-weight: bold;
  font: 14px/50px Helvetica, Arial, sans-serif;

}

.circle li:nth-child(2) {
  top: 185px;
  left: 360px;
  font-weight: bold;
 font: 14px/120px Helvetica, Arial, sans-serif;
  
}

.circle li:nth-child(3) {
  top: 360px;
  left: 185px;
  font-weight: bold;
 font: 14px/120px Helvetica, Arial, sans-serif;
  
}

.circle li:nth-child(4) {
  top: 185px;
  left: 10px;
  font-weight: bold;
  font: 14px/120px Helvetica, Arial, sans-serif;
  
}

/*CENTER*/
.circle li:nth-child(5) {
  width:150px;
  height:150px;
  top: 176px;
  left: 175px;
  background: white;
  color: #828490;
  text-align: center;
  font-weight: bold;
  font: 14px/1.5 Verdana, Arial, sans-serif;
  box-shadow: 0px 0px ;

}
