body{
    
background-color: black;    
text-align: center;

}

h1 {
    font-family: Verdana;
    
    font-weight: Normal;
    font-size:50px;
    color:white;
    text-align: center;
    
}

a p {
    font-family: Verdana;
    color:aquamarine;
    Font-size:16px;
    text-align: center;
    
    
}

a {
    text-decoration:underline aquamarine;
    
}

video {
    
    
}

h2 {
    font-family: Verdana;
    font-weight:300;
    font-size:42px;
    color:white;
    
}

p {
    font-family:Verdana;
    Font-size:21px;
    color:gray;
    
}
img {
    
    display: block;
    margin:auto;
    margin-bottom: 35px;
}

#bottomright {
    
    text-align: right;
}