nav {
    
    width: 350px;height: 350px;margin: 100px auto;position: relative;
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
    
}
nav > ul{padding:0; list-style: none;}
nav > ul > li{position: absolute;width: 80px; height: 80px; background-color:  #FF9933; border-radius: 50%;
     -moz-transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    transform:rotate(-45deg);
    
    
    
}
nav > ul > li > a{
    display: block; width: 78px; height: 80px; color: #000; text-align: center; font-size: 30px; line-height: 2.6; text-decoration: none;
}
nav > ul > li > a:hover{color:#000;}
a:active, a:focus, a: visited{outline:0;}
nav > ul > li:nth-child(1){left:0;top:0;}
nav > ul > li:nth-child(2){right:0;top:0;}
nav > ul > li:nth-child(3){left:0;bottom:0;}
nav > ul > li:nth-child(4){right:0;bottom:0;}
nav > ul > li:nth-child(5){left:115px;top:115px; height: 110px; width: 110px;border:none;} 


.glyphicon-home {width: 110px; height: 110px; line-height: 2.3; font-size: 40px; color:#FF9933;background-color: #000; border-radius: 50%
    
}