body {
    background-color: white;
}
table {
    width: 100%;
    padding:25px;
    border-bottom:2px solid #c6c6c6;
    border-collapse:separate;
    border-spacing:25px 25px;
}
td span {
    font-family: arial;
    font-size: 16px;
    font-weight: lighter;
    opacity: 0.8;
}
td p {
    
    color: #666666;
    text-align: left;
    font-family: arial;
    font-size: 20px;
    font-weight: bold;
}
img {
    display: block;
    margin: auto;
    
}
#btn {
    width: 280px;
    height: 50px;
    background-color: #3c3c3c;
    color: white;
    font-weight: bold;
    display: block;
    margin: auto;
}

#btn:hover {
    
    background-color: #821518;
    
    
}

.imagen {
    
    border-left:2px solid #c6c6c6;
}
td p, td  {
    text-align: center
    
}

td a {
    
    text-decoration: none;
}