body {
    margin: 0px;
    background-color: black;
}
header {
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 69px;
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    border-bottom: 1px solid seashell;
    z-index: 1;
    padding: 0px;
}
.logo {
    align-items: center;
    display: flex;
    flex-grow: 1;
}
header img {
    display: flex;
    height: 50px;
}
header nav {
    display: flex;
}
header nav span {
    color: white;
    padding: 20px;
    display: flex;
    text-decoration: underline;
}
.mainimg {
    display: flex;
    height: 700px;
    background: no-repeat center;
}
.our {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    width: 1200px;
    background-color: black;
    height: 90px;
}
.our h2 {
    display: flex;
    font-family: Helvetica;
    font-size: 30px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    margin: 1px 1px;
}
.our h4 {
    display: flex;
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    margin: 1px 0px;
}
.teatitle h1,
.teatitle h2 {
    text-align: center;
}
.tea,
.tea2,
.tea3,
.tea4,
.tea5 {
    display: flex;
    margin: 0 15px;
    font-family: Helvetica;
    font-size: 15px;
    color: seashell;
    opacity: 0.9;
}
.imghold img {
    height: 200px;
    width: 300px;
}
.imghold h2 {
    text-align: center;
}
h1 {
    margin-top: 50px;
    color: white;
    font-family: Helvetica;
    font-size: 35px;
    color: seashell;
    opacity: 0.9;
}
h2 {
    color: white;
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
}
.cont,
.cont2,
.cont3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.sec3 {
    height: 500px;
    width: 1200px;
    background: no-repeat center;
    margin: 50px auto;
}
#locations {
    padding: 25px;
    text-align: center;
}
.loc1,
.loc2,
.loc3 {
    background-color: black;
    width: 300px;
    height: 300px;
    margin: 0 20px;
    text-align: center;
}
.loc1 h2,
.loc2 h2,
.loc3 h2 {
    font-size: 18px;
    padding: 15px;
}
.loc1 h2:nth-child(1),
.loc2 h2:nth-child(1),
.loc3 h2:nth-child(1) {
    font-size: 30px;
}
.footer h1 {
    text-align: center;
    justify-content: center;
}
.footer h3 {
    color: white;
    text-align: center;
}
.cont4 {
    display: flex;
    justify-content: flex-start;
}
.copyright {
    display: flex;
}